.container {
    flex: 1;
    height: 700px;
    width: 700px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    flex-flow: column;
    position: absolute;
    top: 50px;
    left: 30%;
    background-color: whitesmoke;
    background-size: 700px;
    border-radius: 18px;
}

.SignUp {
    height: 600px;
    width: 600px;
}


.SignUp label {
    text-align: center;
    margin-left: 70px;
}

.SignUpTitle {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 150px;
}


.SignUp input[type="text"],
.SignUp input[type="password"], 
.SignUp input[type="email"],
.SignUp input[type="date"] {
    width: 250px;
    height: 15px;
    padding: 12px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    color: black;
    background-color: white;
    border-radius: 4px;
    font-size: inherit;
    font-style: italic;
}

.SignUp input[name="username"] {
    margin-left: 70px;
}
.SignUp input[name="email"] {
    margin-left: 105px;
}
.SignUp input[name="password"] {
    margin-left: 75px;
}
.SignUp input[name="confirm_password"] {
    margin-left: 15px;
}
.SignUp input[name="dateOfBirth"] {
    margin-left: 60px;
}

.SignUp input::placeholder {
    font-weight: lighter;
    color: black;
}

.SignUp input.error {
    font-size: inherit;
    display: block;
}

.error {
    font-size: inherit;
    color: red;
    display: inline-block;
    width: 350px;
    margin-top: -5px;
    margin-left: 200px;
}

.errorFirebase {
    font-size: inherit;
    color: red;
    display: block;
    text-align: center;
}


.SignUp input[type="checkbox"]{
    margin-left:20px;
}
.SignUp button[name="signup"],
.SignUp button[name="cancel"],
.SignUp button[name="switch"]
 {
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 18px;
    margin-top: 35px;
    
}

.SignUp button[name="signup"] {
    margin-right: 20px;
    margin-left: 100px;
    background-color: #eba3d6;
    border: 2px solid #0a4e91;
}

.SignUp button[name="cancel"] {
    margin-left: 20px;
    background-color: #2cf6dc;
    border: 2px solid #0a4e91;
    margin-right: 20px;
}

.SignUp button[name="switch"] {
    width: 150px;
    margin-left: 20px;
    background-color: #f58888;
    border: 2px solid #0a4e91;
}

.SignUp button[name="signup"]:hover,
.SignUp button[name="cancel"]:hover,
.SignUp button[name="switch"]:hover {
    background-color: #0a4e91;
    opacity: 1;
    color: white;
}
