.mainDiv {
    flex: 1;
    height: 600px;
    width: 600px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    place-items: center;
    flex-flow: column;
    position: absolute;
    top: 80px;
    left: 35%;
    background-color: whitesmoke;
    background-size: 600px;
    border-radius: 18px;
}

.loginForm {
    height: 500px;
    width: 500px;
}

.loginForm label {
    text-align: center;
}

.loginForm input[type="email"],
.loginForm input[type="password"] {
    width: 350px;
    height: 15px;
    padding: 12px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    color: black;
    background-color: rgb(221, 221, 221);
    border-radius: 4px;
    font-size: inherit;
    font-style: italic;
}


.loginForm input[type="email"] {
    margin-top: 35px;
    margin-left: 45px;
}

.loginForm input[type="password"] {
    margin-left: 15px;
}

.rememberMe {
    font-size: 17px;
    margin-left: 85px;
}

 .login {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 200px;
}

.loginForm button[name="login"],
.loginForm button[name="cancel"],
.loginForm button[name="switch"]
 {
    align-items: center;
    width: 100px;
    height: 35px;
    font-size: 18px;
    margin-top: 35px;
    
}

.loginForm button[name="login"] {
    margin-right: 20px;
    margin-left: 30px;
    background-color: #eba3d6;
    border: 2px solid #0a4e91;
}

.loginForm button[name="cancel"] {
    margin-left: 20px;
    background-color: #2cf6dc;
    border: 2px solid #0a4e91;
    margin-right: 20px;
}

.loginForm button[name="switch"] {
    width: 170px;
    margin-left: 20px;
    background-color: #f58888;
    border: 2px solid #0a4e91;
}

.loginForm button[name="login"]:hover,
.loginForm button[name="cancel"]:hover,
.loginForm button[name="switch"]:hover {
    background-color: #0a4e91;
    opacity: 1;
    color: white;
}

